<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.ailin.dao.TbGoodsImageDao" >
        <resultMap id="BaseResultMap" type="com.ailin.model.TbGoodsImage" >
                <id column="id" property="id" jdbcType="INTEGER" />
                <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
                <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
                <result column="visibility" property="visibility" jdbcType="TINYINT" />
                <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
                <result column="url" property="url" jdbcType="VARCHAR" />
                <result column="position" property="position" jdbcType="INTEGER" />
        </resultMap>
        <select id="selectOneGoodsImg" resultMap="BaseResultMap" parameterType="INTEGER">
                SELECT * FROM tb_goods_image WHERE goods_id=#{goodsId} AND POSITION=1
        </select>
        <select id="selectAllGoodsImg" resultMap="BaseResultMap" parameterType="INTEGER">
                SELECT * FROM tb_goods_image WHERE goods_id=#{goodsId}
        </select>
</mapper>