<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.lf.dao.TbNewsDao" >
        <resultMap id="BaseResultMap" type="com.ailin.model.TbNews" >
                <id column="id" property="id" jdbcType="INTEGER" />
                <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
                <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
                <result column="visibility" property="visibility" jdbcType="TINYINT" />
                <result column="shop_id" property="shopId" jdbcType="INTEGER" />
                <result column="title" property="title" jdbcType="VARCHAR" />
                <result column="content" property="content" jdbcType="VARCHAR" />
        </resultMap>
        <sql id="Base_Column_List" >
                id, create_time, last_update, visibility, shop_id, title, content
        </sql>

        <select id="selectAllNews" resultMap="BaseResultMap">
                SELECT * FROM tb_news WHERE visibility=0
        </select>

</mapper>